#root{
  min-height: 100vh;
  background-color: #F2F2F3;
}
*{
  box-sizing: border-box;
}
/* cread color #73EACC */
.tasks{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.App {
  margin: auto;
  width: 70%;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 6px 7px 0px rgba(179,166,179,1);
  padding: 2rem;
  position: relative;
}

.header{
  color: rgb(110, 110, 110);
  margin-bottom: 2rem;
}

.skillCon{
  position: relative;;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left{
  width: 48%;
  position: relative;
}

.right{
  width: 48%;
  position: relative;
}

.cross{
  cursor: pointer;
}

.skillInput{
  background-color: #F2F2F3;
  width: 100%;
  border: none;
  padding: .7rem;
  border: 1px solid rgb(206, 203, 203);
}
.skillInput:focus{
  border: 1px solid rgb(0, 137, 250);
}
.skill{
  padding: .7rem;
  background-color: #73EACC;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 2px 3px 4px 0px rgba(189,183,189,1);

}
.list{
  background-color: #73EACC;
  width: 100%;
  /* margin: 1rem; */
  position: absolute;
  left: 0;
  top: 0;
  will-change: transforms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grab;
}

.inputCon{
  width: 100%;
  position: relative;
}

.dropdown{
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 100%;
  padding: 0;
  color: rgb(82, 82, 83);
  background-color: white;
  border: 1px solid #F2F2F3;
  z-index: 5;
  max-height: 17rem;
  overflow-y: scroll;
}

.dropdown li{
  position: relative;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
}

.dropdown li:hover{
  background-color: #F2F2F3;
}

.cross{
  cursor: pointer;
}